<simple-notifications [options]="options"></simple-notifications>
<control-skin [skin]="1" [estado]="flag_envio"></control-skin>
<app-nav [titulo]="titulo" [breadcrumb]="breadcrumbArray" [btnCrear]="true" (Crear)="crear()"></app-nav>

<div class="w3-container w3-animate-bottom">
    <div class="w3-panel w3-padding-32 w3-white w3-card">
        <div class="w3-row">
            <div class="w3-section w3-row-padding w3-half">
                <div class="w3-col" style="width:50px">
                    <i class="w3-xxlarge fa fa-search" style="color: #0182c0"></i>
                </div>
                <div class="w3-rest">
                    <input type="text" placeholder="Buscar Menu" class="w3-input w3-border" [(ngModel)]="filtro">
                </div>
            </div>
            <div class="w3-section w3-row-padding">
                <button class="w3-button w3-theme" (click)="filter = '' " ng-show="registra">
                    <i class="fa fa-circle-thin "></i> Todos
                </button>

                <button *ngFor="let a of respuesta | orderBy:'orden'| filterBy: ['idtipo_menu']: 2" class="w3-button w3-theme" (click)="filter = a.idmenu"
                    ng-show="registra">
                    <i class="fa fa-circle-thin "></i> {{a.nombre}}
                </button>
            </div>



            <table class="w3-table w3-striped w3-border w3-hoverable">


                <tr class="w3-theme-d5">
                    <th>Nombre</th>
                    <th>Tipo Menu</th>
                    <th>Descripción</th>
                    <th class="w3-right" colspan="2">Eventos</th>
                </tr>

                <tr *ngFor="let a of respuesta | orderBy:'orden' | filterBy: ['idpadre']: filter| filterBy: ['nombre']: filtro">
                    <td>{{a.nombre}}</td>
                    <td>{{a.tipo_menu}}</td>
                    <td>{{a.descripcion}}</td>

                    <td class="w3-right">
                        <button class="w3-button w3-theme" (click)="editar(a)" *ngIf="permisos.actualizar == 1">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="w3-button w3-theme" (click)="eliminar(a)" *ngIf="permisos.eliminar == 1">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>


<div id="formulario" class="w3-modal">
    <div class="w3-modal-content w3-animate-right w3-card-4">
        <header class="w3-container w3-theme-d5 w3-margin-bottom">
            <span onclick="document.getElementById('formulario').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <h2>{{titulo_modal}}</h2>
        </header>

        <div class="w3-container">

            <div class="w3-row w3-section  w3-row-padding">
                <div class="w3-col l6 m6">
                    <label>Nombre</label>
                    <input class="w3-input" type="text" [(ngModel)]="solicitud.nombre" maxlength="150" placeholder="Nombre del Menu">
                </div>
                <div class="w3-col l6 m6">
                    <label>Tipo de Menu</label>
                    <select class="w3-select" name="tipoMenu" [(ngModel)]="solicitud.idtipo_menu">
                        <option value="0" selected>Seleccione</option>
                        <option *ngFor="let a of TipoMenu" [value]="a.idtipo_menu">{{a.nombre}}</option>
                    </select>
                </div>
            </div>

            <div class="w3-row w3-section  w3-row-padding">
                <div class="w3-col l6 m6">
                    <label>Link</label>
                    <input class="w3-input" type="text" [(ngModel)]="solicitud.link" maxlength="50" placeholder="Link">
                </div>
                <div class="w3-col l6 m6">
                    <label>Contenedor</label>
                    <select class="w3-select" name="contenedor" [(ngModel)]="solicitud.idpadre">
                        <option value="0" selected>Seleccione</option>
                        <option *ngFor="let a of respuesta| filterBy: ['idtipo_menu']: 2" [value]="a.idmenu">{{a.nombre}}</option>
                    </select>
                </div>
            </div>

            <div class="w3-row w3-section  w3-row-padding">
                <div class="w3-col l12 m12">
                    <label>Descripción</label>
                    <textarea class="w3-input" type="text" [(ngModel)]="solicitud.descripcion" maxlength="500" placeholder="Descripción"></textarea>
                </div>
            </div>

            <div class="w3-row w3-section  w3-row-padding">
                <div class="w3-col l3 m3">
                    <label>Orden</label>
                    <input class="w3-input" type="number" [(ngModel)]="solicitud.orden" maxlength="10" placeholder="Orden">
                </div>
            </div>

            <div class="w3-row w3-section  w3-row-padding">
                <div class="w3-col l6 m6">
                    <input id="estado" class="w3-radio" type="checkbox" name="estado" [(ngModel)]="solicitud.estado" [checked]="solicitud.estado === 1">
                    <label for="estado">Estado</label>
                </div>
                <div class="w3-col l6 m6">
                    <input id="muestra" class="w3-radio" type="checkbox" name="muestra" [(ngModel)]="solicitud.muestra" [checked]="solicitud.muestra === 1">
                    <label for="muestra">Muestra</label>
                </div>
            </div>
        </div>


        <button class="w3-button w3-medium w3-theme w3-margin" (click)="run()" *ngIf="!flag_envio">
            <i class="fa fa-save"></i> Guardar</button>
        <div class="w3-panel w3-orange">
            <h2 class="w3-opacity">{{mensaje_error}}</h2>
        </div>
        <control-skin [estado]="flag_envio" [skin]="1"></control-skin>
    </div>
</div>

<div id="eliminar" class="w3-modal">
    <div class="w3-modal-content w3-animate-right w3-card-4">
        <header class="w3-container w3-theme-d5 w3-margin-bottom">
            <span onclick="document.getElementById('eliminar').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <h2>{{titulo_modal}}</h2>
        </header>

        <div class="w3-container">
            <p>Desea Eliminar el Menu: {{solicitud.nombre}}</p>

        </div>

        <button class="w3-button w3-medium w3-theme w3-margin" (click)="run()" *ngIf="!flag_envio">
            <i class="fa fa-trash-o"></i> Eliminar</button>
        <control-skin [estado]="flag_envio" [skin]="1"></control-skin>

    </div>
</div>