<app-nav [titulo]="titulo" [breadcrumb]="breadcrumbArray"></app-nav>

<app-evidencia [gestionar]="gesionar" [proyecto]="proyecto" [autoevaluacion]="autoevaluacion"></app-evidencia>

<!--
    En esta vista se se muestra el componente evidencia ya que en ese componente se gestiona:
                                                                                            crear-evidencias.
                                                                                            ver-evidencias.
    Mantienen la misma estructura.
-->