
.control .file {
    display: none;
    color: white;
    position: absolute;
  }
  .control .file + label {
    text-align: center;
    vertical-align: text-top;
  }
  .control .file + label:hover {
    cursor: pointer;
  }
  