<simple-notifications [options]="options"></simple-notifications>
<control-skin [skin]="1" [estado]="flag_envio"></control-skin>
<app-nav [titulo]="titulo" [breadcrumb]="breadcrumbArray" [btnCrear]="true" (Crear)="crear()"></app-nav>

<div class="w3-container w3-animate-bottom">
  <div class="w3-panel w3-padding-32 w3-white w3-card">
    <div class="w3-row">
      <div class="w3-section w3-row-padding w3-half">
        <div class="w3-col" style="width:50px">
          <i class="w3-xxlarge fa fa-search" style="color: #0182c0"></i>
        </div>
        <div class="w3-rest">
          <input type="text" placeholder="Buscar Rol" class="w3-input w3-border" [(ngModel)]="filtro">
        </div>
      </div>
      <table class="w3-table w3-striped w3-border w3-hoverable">


        <tr class="w3-theme-d5">
          <th>Nombre del Rol</th>
          <th class="w3-center">Menu</th>
          <th class="w3-center" colspan="2">Eventos</th>
        </tr>

        <tr *ngFor="let a of respuesta|orderBy:'nombre'|filterBy: ['nombre']: filtro">
          <td>{{a.nombre}}</td>
          <td class="w3-center">
            <button class="w3-button w3-theme" (click)="open(a)">
              <i class="fa fa-plus"></i>
            </button>
          </td>
          <td class="w3-center">
            <button class="w3-button w3-theme" (click)="editar(a)" *ngIf="permisos.actualizar == 1">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="w3-button w3-theme" (click)="eliminar(a)" *ngIf="permisos.eliminar == 1">
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>



      </table>
    </div>
  </div>
</div>

<div id="formulario" class="w3-modal">
  <div class="w3-modal-content w3-animate-right w3-card-4">
    <header class="w3-container w3-theme-d5 w3-margin-bottom">
      <span onclick="document.getElementById('formulario').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <h2>{{titulo_modal}}</h2>
    </header>

    <div class="w3-container">
      <div class="w3-row">
        <div class="w3-col l8">
          <label>Nombre del Rol</label>
          <input class="w3-input" type="text" [(ngModel)]="solicitud.nombre" maxlength="60" placeholder="Nombre del Rol">
        </div>
      </div>

      <div class="w3-row">
        <div class="w3-col l8">
          <label>Descripción</label>
          <input class="w3-input" type="text" [(ngModel)]="solicitud.descripcion" maxlength="150" placeholder="Descripción">
        </div>
      </div>

    </div>


    <button class="w3-button w3-medium w3-theme w3-margin" (click)="run()" *ngIf="!flag_envio">
      <i class="fa fa-save"></i> Guardar</button>
    <div class="w3-panel w3-orange">
      <h2 class="w3-opacity">{{mensaje_error}}</h2>
    </div>
    <control-skin [estado]="flag_envio" [skin]="1"></control-skin>
  </div>
</div>

<div id="eliminar" class="w3-modal">
  <div class="w3-modal-content w3-animate-right w3-card-4">
    <header class="w3-container w3-theme-d5 w3-margin-bottom">
      <span onclick="document.getElementById('eliminar').style.display='none'" class="w3-button w3-display-topright">&times;</span>
      <h2>{{titulo_modal}}</h2>
    </header>

    <div class="w3-container">
      <p>Desea Eliminar el Rol: {{solicitud.nombre}}</p>

    </div>

    <button class="w3-button w3-medium w3-theme w3-margin" (click)="run()" *ngIf="!flag_envio">
      <i class="fa fa-trash-o"></i> Eliminar</button>
    <control-skin [estado]="flag_envio" [skin]="1"></control-skin>

  </div>
</div>